.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.center {
  text-align: center
}

.side-by-side-buttons {
  justify-content: space-evenly;
  display: flex;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

#done-successfully, 
#done-successfully-1, 
#done-successfully-2, 
#done-successfully-3, 
#done-successfully-4, 
#done-successfully-5 { 
  margin-top: 20px;
  display: block;
}
